doc/example-flow.json
[{"id":"764c0ca4.5395c4","type":"tab","label":"alexa-verifier example","disabled":false,"info":""},{"id":"eca63ea2.c9b29","type":"http in","z":"764c0ca4.5395c4","name":"/example","url":"/example","method":"post","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["9444884a.95de68"]]},{"id":"9444884a.95de68","type":"alexa verifier","z":"764c0ca4.5395c4","name":"","x":240,"y":120,"wires":[["91963e75.34992"],["4483ecad.3fa734"]]},{"id":"91963e75.34992","type":"switch","z":"764c0ca4.5395c4","name":"Not AudioPlayer status update?","property":"payload.session","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":470,"y":80,"wires":[["6433ed68.f9b3e4"],["4483ecad.3fa734"]]},{"id":"6433ed68.f9b3e4","type":"switch","z":"764c0ca4.5395c4","name":"Valid Application ID?","property":"payload.session.application.applicationId","propertyType":"msg","rules":[{"t":"eq","v":"your amazon skill application id here","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":723,"y":62,"wires":[["c723a7d7.4f67b8"],["4483ecad.3fa734"]]},{"id":"c723a7d7.4f67b8","type":"switch","z":"764c0ca4.5395c4","name":"Request Type?","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"}],"checkall":"false","outputs":3,"x":951,"y":55,"wires":[["1542d4d8.f76c4b"],[],[]]},{"id":"1542d4d8.f76c4b","type":"switch","z":"764c0ca4.5395c4","name":"Intent?","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"Test","vt":"str"}],"checkall":"false","outputs":1,"x":1118,"y":42,"wires":[["7da5a5e1.64ca5c"]]},{"id":"7da5a5e1.64ca5c","type":"function","z":"764c0ca4.5395c4","name":"Say \"Success\"","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"The test was a success, the skills request passed all the verification checks\"\n    },\n    \"shouldEndSession\": true\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1283,"y":42,"wires":[["34a1c797.d5a6e8"]]},{"id":"34a1c797.d5a6e8","type":"http response","z":"764c0ca4.5395c4","name":"","statusCode":"","headers":{},"x":1485,"y":121,"wires":[]},{"id":"4483ecad.3fa734","type":"function","z":"764c0ca4.5395c4","name":"Return empty response","func":"//  Could handle errors and AudioPlayer status\n//  updates here, but in this example we'll just \n//  send a \"do nothing\" msg back to Alexa\nmsg.payload = {\n    \"version\": \"1.0\",\n    \"shouldEndSession\": true\n};\ndelete msg.statusCode;","outputs":1,"noerr":0,"x":1010,"y":122,"wires":[["34a1c797.d5a6e8"]]}]
